h1{
     margin-bottom: 12px;      
}

.card-container {
    width: 350px;
    margin: 40px;
    background-color:#262626;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
           
.poster {
    width: 100%;
    height:auto;
}

.basic-info {
    padding: 32px;
    padding-top: 24px;
}
