.movies-list {
  display: grid;
  gap: 20px; /* Space between grid items */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 20px;
  box-sizing:border-box;
}



@media (min-width: 1200px) {
  .movies-list {
    grid-template-columns: repeat(4, 1fr); /* Cap at 4 columns */
  }
}

@media (max-width: 600px) {
  .movies-list {
    grid-template-columns: 1fr; /* One card per row on small screens */
  }
}
  